html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 5fr 1fr;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;   
}

.btnCt {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Btn {
    width: fit-content;
    background: none;
    border: none;
    font-size: 1.15rem;
}

.Btn:hover{
    border-bottom: solid 1px black;
    cursor: pointer;
}
.main {
    background-image: url(./pexels-erik-mclean-4061451.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}